.centerText {
text-align: center;
}
.centerDivX {
margin: 0px auto 0px auto;
}
.centerDivY {
margin: auto 0px auto 0px;
}
.link {
color: rgba(41, 151, 255, 1.0);
text-decoration: none;
}
.link:hover {
color: rgba(41, 151, 255, 1.0);
text-decoration: underline;
}