.largeTitle {
font-size: 34px;
font-weight: 400;
}
.title1 {
font-size: 28px;
font-weight: 400;
}
.title2 {
font-size: 22px;
font-weight: 500;
}
.title3 {
font-size: 20px;
font-weight: 600;
}
.headline {
font-size: 17px;
font-weight: 600;
}
.body {
font-size: 17px;
font-weight: 400;
line-height: 140%;
}
.callout {
font-size: 16px;
font-weight: 400;
line-height: 140%;
}
.subheadline {
font-size: 15px;
font-weight: 400;
line-height: 140%;
}