.indexNav {
position: fixed;
left: 0px;
top: 0px;
right: 0px;
bottom: auto;
background-color: rgba(29, 29, 31, 0.72);
text-align: center;
-webkit-backdrop-filter: saturate(180%) blur(20px);
backdrop-filter: saturate(180%) blur(20px);
z-index: 1;
}
.indexNav a {
padding: 16px 16px 16px 16px;
display: inline-block;
text-decoration: none;
font-size: 120%;
}
.activeLink {
color: rgba(139, 139, 139, 1.0);
pointer-events: none;
}
.inactiveLink {
color: White;
}
a:hover {
color: rgba(41, 151, 255, 1.0);
}